<div class="page-header">
  <h1>Dish #<%= @dish.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dish.name %></dd>

  <dt>Cuisine ID</dt>
  <dd><%= @cuisine.name %></dd>

  <dt>Favorites! </dt>

  <% if (@favorites.count == 0) %>
  <dd><%= @vacio%></dd>
  <% end %>


  <dd>
  <% @favorites.each do |favorite| %>
  <li>Venue: <%=Venue.find_by(:id => favorite.venue_id).name%></li>
  <li>User: <%=User.find_by(:id => favorite.user_id).username%></li>
  <p> </p>

  <% end %>
  </dd>





</dl>
